.fieldset
  = form_tag admin_featured_videos_path, method: 'get' do
    %p
      %label from:
      %input{ type: 'date', name: 'start_date', value: params[:start_date]}
      %label to:
      %input{ type: 'date', name: 'end_date', value: params[:end_date]}
      %label 
      %span Recommend:
      %select{name: "orderNo", value: params[:orderNo]}= options_for_select([["", ""], ["Yes", "1"],["No", "0"]],params[:orderNo])
      /,{selected:params[:orderNo]=="0"}
      /,{selected: params[:orderNo]=="1"}
      %span Unpublish:
      %select{name: "unpublish", value: params[:unpublish]}= options_for_select([["", ""],["Yes", "true"], ["No", "false"]],params[:unpublish])
      %span User Name:
      %input{ type: 'text', name: 'userName', value: params[:userName]}

      %span Resolution:
      %select{name: "resolution", value: params[:resolution]}= options_for_select([["", ""], ["big", "1"],["middle", "2"],["small", "3"],["other", "4"]],params[:resolution])
      %span 
      %label &nbsp;
      %span Sort parameters:
      %input{ type: 'radio', name: 'sortParam', value: "created_time",checked: params[:sortParam]=="created_time" ? true : nil}
      %span Time
      %input{ type: 'radio', name: 'sortParam', value: "recommend",checked: params[:sortParam]=="recommend" ? true : nil}
      %span Stick
      %input{ type: 'radio', name: 'sortParam', value: "likes_count",checked: params[:sortParam]=="likes_count" ? true : nil}
      %span Likes
      %span 
      %label &nbsp;
      %span Clear the cache:
      %input{ type: 'checkbox', name: 'clearCache', value: "1"}
      %label 
    %hr
    %p
      = submit_tag 'submit'



    



